h1 Create user
if errors
    each err in errors
        p=err
form(action="/users/create", method='POST')
    label Name
    input(type="text", name="name", value=values ? values.name : '')
    button Create